<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hotel Reservation System</title>
    </head>
    <body>
        <h1>Hotel Reservation System</h1>
        <form id="loginform"> 
        <label for="username">Username:</label>
        <input type="text" id="username">
        <label for="password">Password:</label>
        <input type="password" id="password"> 
        <button type="submit">Login</button>
        </form>
        <script>
            document.getElementById("loginform").addEventListener("submit",Event {
                preventDefault();
                const document.getElementById("Username").trim.value();
                const document.getElementById("password").value();
                return "login successful!";
            });
        </script>
        </body>
    </body>
</html>